{% extends "main_window.html" %}

{% block les1 %}
<h1></h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% if check == True %}
    <p style="display: inline-block;">
        {{ form.answer(class="form-control", style="width: 800px; height: 600px;
        margin-top: 50px; border: 3px solid #0f0;") }}
    </p>
    <div class="group" style="display: inline-block; font-size:20px;">
        {% for i in task %}
        <div> {{ i }} </div>
        {% endfor %}
    </div>
    <p> {{ form.send(type="submit", class="btn btn-danger", style="margin-left: 400px;") }} </p>
    <div class="alert" role="alert" style="background-color: #0f0;">
        Решение верное
    </div>
    {% elif check == False %}
    <p style="display: inline-block;">
        {{ form.answer(class="form-control", style="width: 800px; height: 600px;
        margin-top: 50px; border: 3px solid #f00;") }}
    </p>
    <div class="group" style="display: inline-block; font-size:20px;">
        {% for i in task %}
        <div> {{ i }} </div>
        {% endfor %}
    </div>
    <p> {{ form.send(type="submit", class="btn btn-danger", style="margin-left: 400px;") }} </p>
    <div class="group" style="background-color: #f00;" role="alert">
        <div>Решение неверное</div>
        <div>Ошибка:</div>
        {% for i in error %}
        <div> {{ i }} </div>
        {% endfor %}
        <div>Ваш ответ: {{ answer }}</div>
        <div>Правильный ответ: {{ exanswer }}</div>
    </div>
    {% else %}
    <p style="display: inline-block;">
        {{ form.answer(class="form-control", style="width: 700px; height: 600px;
        margin-top: 50px; border: 3px solid LightSteelBlue;") }}
    </p>
    <div class="group" style="display: inline-block; font-size:17px;">
        {% for i in task %}
        <div> {{ i }} </div>
        {% endfor %}
    </div>
    <p> {{ form.send(type="submit", class="btn btn-danger", style="margin-left: 400px;") }} </p>
    {% endif %}
</form>
{% endblock %}
