{% extends "main_window.html" %}

{% block prom1 %}
<h1> </h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p style="display: inline-block;">{{ form.task1(type="submit", class="btn btn-dark", style="width: 800px; height: 75px;
        margin-top: 50px; font-size:30px;") }}</p>
    <p style="display: inline-block;">{{ form.theory(type="submit", class="btn btn-dark", style="width: 400px; height: 75px;
        margin-top: 50px; font-size:30px;") }}</p>
    <p> </p>
    <p>{{ form.task2(type="submit", class="btn btn-dark", style="width: 800px; height: 75px;
        margin-top: 50px; font-size:30px;") }}</p>
    <p>{{ form.task3(type="submit", class="btn btn-dark", style="width: 800px; height: 75px;
        margin-top: 50px; font-size:30px;") }}</p>
</form>
{% endblock %}