{% extends "main_window.html" %}

{% block les1 %}
<h1></h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <style>
    blck {
    display: inline-block;
    vertical-align: top;
    }
    </style>
    <p>{{ form.back_to_tasks(class="btn", style="width: 150px; height: 50px; background: #1c1c1c; color: #f8f8ff;") }}</p>
    <p>{{ form.back_to_main(class="btn", style="width: 150px; height: 50px; background: #1c1c1c; color: #f8f8ff;") }}</p>
    {% if check == True %}
        <blck>
            {{ form.answer(class="form-control", style="width: 700px; height: 600px;
            margin-left: 350px; border: 3px solid #0f0;") }}
        </blck>
        <blck class="group" style="font-size:20px;">
            {% for i in task %}
                <pre> {{ i }} </pre>
            {% endfor %}
        </blck>
        <div> {{ form.send(type="submit", class="btn", style="margin-left: 350px; background: #1c1c1c; color: #f8f8ff; width: 100px; height: 40px;") }} </div>
        <div class="alert" role="alert" style="margin-left: 350px; background-color: #4c9141; width: 700px; border: 5px solid #4c9141">
            Решение верное
        </div>
    {% elif check == False %}
        <blck>
            {{ form.answer(class="form-control", style="width: 700px; height: 600px;
            margin-left: 350px; border: 3px solid #f00;") }}
        </blck>
        <blck class="group" style="font-size:20px;">
            {% for i in task %}
                <pre> {{ i }} </pre>
            {% endfor %}
        </blck>
        <div> {{ form.send(type="submit", class="btn btn", style="margin-left: 350px; background: #1c1c1c; color: #f8f8ff; width: 100px; height: 40px;") }} </div>
        <div class="group" style="background-color: #ff0000; margin-left: 350px; width: 700px; border: 5px solid #ff0000; margin-top: 5px" role="alert">
            <pre>Решение неверное</pre>
            <pre>Ошибка:</pre>
            {% for i in error %}
                <pre> {{ i }} </pre>
            {% endfor %}
            <pre>Ваш ответ: {{ answer }}</pre>
            <pre>Правильный ответ: {{ exanswer }}</pre>
        </div>
    {% else %}
        <blck>
            {{ form.answer(class="form-control", style="width: 700px; height: 600px;
            margin-left: 350px; border: 3px solid LightSteelBlue;") }}
        </blck>
        <blck class="group" style="font-size:20px;">
            {% for i in task %}
                <pre> {{ i }} </pre>
            {% endfor %}
        </blck>
        <div> {{ form.send(type="submit", class="btn",  style="background: #1c1c1c; color: #f8f8ff; margin-left: 350px; width: 100px; height: 40px;") }} </div>
    {% endif %}
</form>
{% endblock %}