{% extends "main_window.html" %}

{% block theory1 %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.back_to_tasks1(class="btn", style="width: 150px; height: 50px; background: #1c1c1c; color: #f8f8ff; cursor: pointer;") }}</p>
    <p>{{ form.back_to_main1(class="btn", style="width: 150px; height: 50px; background: #1c1c1c; color: #f8f8ff; cursor: pointer;") }}</p>
    <div style="margin-left: 500px; font-size: 20px;width: 900px;">
        <h2>Условный оператор</h2>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <div>Условный оператор используется, когда некая часть программы должна быть выполнена, только </div
        ><b>если верно </b
    ><div>какое-либо условие. Для записи условного оператора используются ключевые слова if и else («если», «иначе»),
            двоеточие и  отступ в четыре пробела.</div></div>
        <div class="block" style="background: #e1e2e6; width: 600px; border: 6px solid #e1e2e6; margin-top: 10px">
            <div style="display: inline-block;color: #0095b6">if </div>
            <div style="display: inline-block;">условие</div
        ><div style="display: inline-block;color: #666666">:</div>
            <div style="white-space: pre;">    Действия, если условия верны</div>
            <div style="display: inline-block;color: #0095b6">else</div
            ><div style="display: inline-block;color: #666666">:</div>
            <div style="white-space: pre;">    Действия,если условия не верны</div>
        </div>
        <div>Рассмотрим пример:</div>
        <div class="block" style="background: #e1e2e6; width: 600px; border: 6px solid #e1e2e6; margin-top: 10px">
            <div style="display: inline-block;color: #0095b6">print</div
            ><div style="display: inline-block;color: #666666">(</div
            ><div style="display: inline-block;color: #008000">'Введите пароль:'</div
            ><div style="display: inline-block;color: #666666">)</div>
            <div> </div>
            <div style="display: inline-block">password = </div>
            <div style="display: inline-block;color: #008000">input</div
        ><div style="display: inline-block;color: #666666">()</div>
            <div> </div>
            <div style="display: inline-block;color: #0095b6">if </div>
        <div style="display: inline-block;">password == </div>
        <div style="display: inline-block;color: #008000">'qwerty'</div
        ><div style="display: inline-block;color: #666666">:</div>
            <div></div>
            <div style="white-space: pre;display: inline-block;color: #0095b6">    print</div
            ><div style="display: inline-block;color: #666666">(</div
            ><div style="display: inline-block;color: #008000">'Доступ открыт.'</div
            ><div style="display: inline-block;color: #666666">)</div>
            <div> </div>
            <div style="display: inline-block;color: #0095b6">else </div
            ><div style="display: inline-block;color: #666666">:</div>
            <div> </div>
            <div style="white-space: pre;display: inline-block;color: #0095b6">    print</div
            ><div style="display: inline-block;color: #666666">(</div
            ><div style="display: inline-block;color: #008000">'Ошибка, доступ закрыт!'</div
            ><div style="display: inline-block;color: #666666">)</div>
        </div>
        <div>Обратите внимание: в начале условного оператора if выполняется сравнение, а не присваивание. Разница вот в чем.</div>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <h3>Сравнение</h3>
            <div>Сравнение — это проверка, которая не меняет значение переменной (в сравнении может вообще не быть переменных),
                а присваивание — команда, которая меняет значение переменной.</div>
            <div>Для сравнения нужно использовать двойной знак равенства: ==.</div>
            <div>Также заметьте, что после else никогда не пишется никакого условия.</div>
        </div>
        <h2>Сложное условие. Логические операции</h2>
        <div style="display: inline-block;">Иногда в условном операторе нужно задать сложное условие. Для этого можно использовать логические операции
            <b style="display: inline-block;">and</b> («и»), <b style="display: inline-block;">or</b> («или») и
            <b style="display: inline-block;">not</b> («не»).</div>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a"> Чтобы задать одновременное выполнение
            двух условий, используем and («и»), если достаточно выполнения одного из двух вариантов (или обоих сразу) —
            используем or («или»), а если нужно убрать какой-то вариант — not («не»).</div>
        <div>Приоритет выполнения операций:</div>
        <div class="block" style="background: #e1e2e6; width: 600px; border: 6px solid #e1e2e6; margin-top: 10px">
            <div>1. not</div>
            <div>2. and</div>
            <div>3. or</div>
        </div>
        <h2>Вложенные условия</h2>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <h3>Блок кода</h3>
            <div style="display: inline-block;">В команде if при выполнении условия можно выполнять более одной команды. Для этого все их необходимо
                выделить отступом. Такая запись называется <i style="display: inline-block;">блоком кода</i>. По отступам интерпретатор определяет, при выполнении
                каких условий какие команды исполнять. Аналогично можно делать и для команды else.</div></div>
        <h2>Типы данных</h2>
        <div>Пока единственным типом данных, с которым мы работали, были строки. Теперь нам предстоит рассмотреть целые
            и вещественные числа. У каждого элемента данных, который встречается в программе, есть свой тип.
            (В случае с Python более правильный термин — «класс объекта», но об этом мы будем говорить гораздо позже).</div>
        <div>Например, «привет» — это строка, а вот 15.3 — это число (дробное). Даже если данные не записаны прямо в
            программе, а получаются откуда-то еще, у них есть совершенно определенный тип. Например, на место input()
            всегда подставляется строка, а 2 + 2 даст именно число 4, а не строку "4".</div>
        <div>Пользователь может ввести с клавиатуры какие-то цифры, но в результате input() вернет строку, состоящую из
            этих цифр. Если мы попытаемся, например, прибавить к этой строке 1, получим ошибку.</div>
        <div>А если нам надо работать с числами? Мы пока будем рассматривать целые и вещественные числа.</div>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <div style="display: inline-block;">Когда речь идет о числовых данных, они записываются без <b style="display: inline-block;">кавычек.</b></div>
                <div> </div>
                <div style="display: inline-block;">А для вещественных чисел, чтобы отделить дробную часть от целой, используют <b style="display: inline-block;">точку.</b></div>
        </div>
        <h2>Целочисленное деление</h2>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            Для реализации целочисленного деления существуют два действия: деление нацело и остаток от деления нацело.
            Получение целой части от деления обозначается как удвоенный знак деления, а остатка от деления нацело — %.
        </div>
        <h2>Простейшие функции</h2>
        <div style="display: inline-block;">С действиями над числами определились, осталось разобраться, как получать числа из ввода. Здесь нам поможет
            важное новое понятие — <b style="display: inline-block;">функция</b>. В математике функция из одного числа (или даже нескольких) делает другое.</div>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <h3>Функция</h3>
            <div>В программировании (и в Python, в частности) функция — это сущность, которая из одного (или даже нескольких)
                значений делает другое. При этом она может еще и выполнять какие-то действия.</div>

            <div>Например, есть функция модуля у = |x|, аналогично в Python есть функция y = abs(x).</div>

            <div>Но функции в Python необязательно принимают только числа.</div>
        </div>
        <div>Для того чтобы вводить числа с клавиатуры и потом работать с ними, необходимо найти функцию, которая из строки делает число. И такие функции есть!</div>
        <div style="background: #f7f21a; width: 900px; border: 10px solid #f7f21a">
            <div style="display: inline-block;">Тип данных целых чисел в Python называется <b style="display: inline-block;">int</b>,
                дробных чисел — <b style="display: inline-block;">float</b>.</div>
            <div> </div>
            <div>Одноименные функции принимают в качестве аргумента строку и возвращают число, если в этой строке было записано число (иначе выдают ошибку):</div>
        </div>
        <div class="block" style="background: #e1e2e6; width: 600px; border: 6px solid #e1e2e6; margin-top: 10px">
            <div style="display: inline-block;">a = </div>
            <div style="display: inline-block;color: #008000">input</div
            ><div style="display: inline-block;color: #666666">()</div>
            <div> </div>
            <div style="display: inline-block;">b = </div>
            <div style="display: inline-block;color: #008000">int</div
                ><div style="display: inline-block;color: #666666">(</div
        ><div style="display: inline-block;">a</div
        ><div style="display: inline-block;color: #666666">)</div>
            <div> </div>
            <div style="display: inline-block;color: #0095b6">print</div
            ><div style="display: inline-block;color: #666666">(</div
            ><div style="display: inline-block;">b + 1</div
        ><div style="display: inline-block;color: #666666">)</div>
        </div>
        <div>Или так:</div>
        <div class="block" style="background: #e1e2e6; width: 600px; border: 6px solid #e1e2e6; margin-top: 10px">
            <div style="display: inline-block;">a = </div>
            <div style="display: inline-block;color: #008000">int</div
                ><div style="display: inline-block;color: #666666">(</div
            ><div style="display: inline-block;color: #008000">input</div
            ><div style="display: inline-block;color: #666666">())</div>
        </div>
        <div>что будет означать — «получи строку из ввода, сделай из нее целое число и результат помести в переменную а».</div>
        </div>
</form>
{% endblock %}